USE [master]
GO
/****** Object:  Database [MOVIES_W3]    Script Date: 25-12-2023 13:33:22 ******/
CREATE DATABASE [MOVIES_W3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOVIES_W3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MOVIES_W3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOVIES_W3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MOVIES_W3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOVIES_W3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOVIES_W3]
GO
/****** Object:  UserDefinedDataType [dbo].[email]    Script Date: 25-12-2023 13:33:22 ******/
CREATE TYPE [dbo].[email] FROM [nvarchar](100) NOT NULL
GO
/****** Object:  UserDefinedTableType [dbo].[actorType]    Script Date: 25-12-2023 13:33:22 ******/
CREATE TYPE [dbo].[actorType] AS TABLE(
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[age] [int] NULL
)
GO
/****** Object:  Table [dbo].[actor]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actor](
	[act_id] [int] NOT NULL,
	[act_fname] [varchar](20) NULL,
	[act_lname] [varchar](20) NULL,
	[act_gender] [varchar](1) NULL,
 CONSTRAINT [PK_actor] PRIMARY KEY CLUSTERED 
(
	[act_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[director]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[director](
	[dir_id] [int] NOT NULL,
	[dir_fname] [varchar](20) NULL,
	[dir_lname] [varchar](20) NULL,
 CONSTRAINT [PK_director] PRIMARY KEY CLUSTERED 
(
	[dir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[gen_id] [int] NOT NULL,
	[gen_title] [varchar](20) NULL,
 CONSTRAINT [PK_genres] PRIMARY KEY CLUSTERED 
(
	[gen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[mov_id] [int] NOT NULL,
	[mov_title] [varchar](50) NULL,
	[mov_year] [int] NULL,
	[mov_time] [int] NULL,
	[mov_lang] [varchar](50) NULL,
	[mov_dt_rel] [datetime] NULL,
	[mov_rel_country] [varchar](5) NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_cast]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_cast](
	[act_id] [int] NULL,
	[mov_id] [int] NULL,
	[role] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_direction]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_direction](
	[dir_id] [int] NULL,
	[mov_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_genres]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_genres](
	[gen_id] [int] NULL,
	[mov_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[mov_id] [int] NULL,
	[rev_id] [int] NULL,
	[rev_stars] [float] NULL,
	[num_o_ratings] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviewer]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewer](
	[rev_id] [int] NOT NULL,
	[rev_name] [varchar](20) NULL,
 CONSTRAINT [PK_reviwer] PRIMARY KEY CLUSTERED 
(
	[rev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender]) VALUES (101, N'James', N'Stewart', N'M')
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender]) VALUES (102, N'Deborah', N'Kerr', N'F')
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender]) VALUES (103, N'Peter', N'OToole', N'M')
GO
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (201, N'Alfred', N'Hitchcock')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (202, N'Jack', N'Clayton')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (203, N'David', N'Lean')
GO
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (1001, N'Action')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (1002, N'Adventure')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (1003, N'Animation')
GO
INSERT [dbo].[movie] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (901, N'Vertigo', 1958, 128, N'English', CAST(N'1958-08-24T00:00:00.000' AS DateTime), N'UK')
INSERT [dbo].[movie] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (902, N'The Innocents', 1961, 100, N'English', CAST(N'1962-02-19T00:00:00.000' AS DateTime), N'SW')
INSERT [dbo].[movie] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (903, N'Lawrence of Arabia', 1962, 216, N'English', CAST(N'1962-12-11T00:00:00.000' AS DateTime), N'UK')
GO
INSERT [dbo].[movie_cast] ([act_id], [mov_id], [role]) VALUES (101, 901, N'John Scottie Ferguson')
INSERT [dbo].[movie_cast] ([act_id], [mov_id], [role]) VALUES (102, 902, N'Miss Giddens')
INSERT [dbo].[movie_cast] ([act_id], [mov_id], [role]) VALUES (103, 903, N'T.E. Lawrence')
GO
INSERT [dbo].[movie_direction] ([dir_id], [mov_id]) VALUES (201, 901)
INSERT [dbo].[movie_direction] ([dir_id], [mov_id]) VALUES (202, 902)
INSERT [dbo].[movie_direction] ([dir_id], [mov_id]) VALUES (203, 903)
GO
INSERT [dbo].[movie_genres] ([gen_id], [mov_id]) VALUES (1001, 922)
INSERT [dbo].[movie_genres] ([gen_id], [mov_id]) VALUES (1002, 917)
INSERT [dbo].[movie_genres] ([gen_id], [mov_id]) VALUES (1002, 903)
GO
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (901, 9001, 8.4, 263575)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (902, 9002, 7.9, 20207)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (903, 9003, 8.3, 202778)
GO
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (9001, N'Righty Sock')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (9002, N'Jack Malvern')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (9003, N'Flagrant Baronessa')
GO
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD FOREIGN KEY([act_id])
REFERENCES [dbo].[actor] ([act_id])
GO
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD FOREIGN KEY([dir_id])
REFERENCES [dbo].[director] ([dir_id])
GO
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD FOREIGN KEY([gen_id])
REFERENCES [dbo].[genres] ([gen_id])
GO
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_movie] FOREIGN KEY([mov_id])
REFERENCES [dbo].[movie] ([mov_id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_movie]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_reviewer] FOREIGN KEY([rev_id])
REFERENCES [dbo].[reviewer] ([rev_id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_reviewer]
GO
/****** Object:  StoredProcedure [dbo].[readActors]    Script Date: 25-12-2023 13:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[readActors]
@a actorType readonly
as
select * from @a
return 0;
GO
USE [master]
GO
